<div id="home-container">
  <div id="title-div">
    <h1>
      Our product, for you to purchase
    </h1>
    <app-header></app-header>
  </div>

  <div id='product-list-div'>
    <div id='table-div'>
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let prod of products">
            <td>{{prod.productName}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.price}} </td>
            <td> <a (click)="addToOrder(prod)" id="prod-add-btn" class="act-btn button" value="add">ADD TO ORDER</a></td>
          </tr>
      </table>
    </div>
  </div>
  <div id="foot-btn-div">
    <a routerLink="/app-info-form-first" id="insert-info-btn" class="act-btn button big-btn" value="add">SHARE YOUR INFORMATION</a>
    <a routerLink="/app-info-review" id="review-info-btn" class="act-btn button-reverse big-btn" value="add">REVIEW YOUR INFORMATION</a>
  </div>

</div>
