<div id="info-container">
  <div id="title-div">
    <h1>
      Insert Further Information
    </h1>
    <app-header></app-header>
  </div>

  <div id='form-div'>
    <section class="infoform cf">
      <form name="info-first" action="index_submit" method="get" accept-charset="utf-8">
        <ul>
          <li><label>What's your job?</label>
          <input type="all" name="job" [(ngModel)]="userService.user.job"></li>
          <li><label>Insert your main hobby</label>
          <input type="all" name="hobby"  [(ngModel)]="userService.user.mainHobby"></li>
          <li><label>What's your favorite TV Show?</label>
          <input type="all" name="favTvShow"  [(ngModel)]="userService.user.favTvShow"></li>
        </ul>
      </form>
    </section>
  </div>
  <div id="foot-btn-div">
    <a  (click)="saveInfo()" routerLink="/app-info-form-second" class="act-btn button-reverse big-btn" value="back">BACK</a>
    <a  (click)="closeInfoAndSave()"  class="act-btn button big-btn" value="add">COMPLETE</a>
  </div>

</div>
