<div id="info-container">
  <div id="title-div">
    <h1>
      Insert your Personal Information
    </h1>
    <app-header></app-header>
  </div>

  <div id='form-div'>
    <section class="infoform cf">
      <form name="info-first" action="index_submit" method="get" accept-charset="utf-8">
        <ul>
          <li><label>Your first name</label>
          <input type="all" name="firstname" [(ngModel)]="userService.user.firstname"></li>
          <li><label>Your second name</label>
          <input type="all" name="surname"  [(ngModel)]="userService.user.secondname"></li>
          <li><label>Insert your age</label>
          <input type="all" name="age"  [(ngModel)]="userService.user.age"></li>
        </ul>
      </form>
    </section>
  </div>
  <div id="foot-btn-div">
    <a (click)="closeInfoAndSave()" id="insert-info-btn" class="act-btn button-reverse big-btn" value="add">HOME</a>
    <a (click)="saveInfo()" routerLink="/app-info-form-second" id="review-info-btn" class="act-btn button big-btn" value="add">NEXT PAGE</a>
  </div>

</div>
